<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="hero">
        <div class="content">
            <small >WELCOME TO</small>
            <h1>S.V.PATEL & CO.,</h1>
           <a href="{{ url_for('index')}}"><button type="button">Take a tour</button></a>
        </div>
        
        
        <div class="bubbles">
            <img src="{{ url_for('static', filename='img/bubble.png') }}">
            <img src="{{ url_for('static', filename='img/bubble.png') }}">
            <img src="{{ url_for('static', filename='img/bubble.png') }}">
            <img src="{{ url_for('static', filename='img/bubble.png') }}">
            <img src="{{ url_for('static', filename='img/bubble.png') }}">
            <img src="{{ url_for('static', filename='img/bubble.png') }}">
            <img src="{{ url_for('static', filename='img/bubble.png') }}">
        </div>


    </div>
</body>
</html>